body {
  background-image: url('../img/dust_scratches.png');
  background-repeat: repeat;
  background-size: initial;
}

.header {
  text-align: center;
}

#logo {
  width: 17vh;
  margin: 2vw;
}

#root {
  border-radius: 10px;
  border-color: black;
  border-width: 10px;
  background-color: #ffff;
  min-height: 40vh;
  padding: 5vh 30px 5vh 30px;
}

#footer {
  text-align: center;
  color: #8f8f8f;
  font-size: smaller;
  margin-top: 4vh;
  margin-bottom: 20px;
}

.btn {
  margin: 4px;
}

.ballot-preference-field {
  width: 40px;
  float: right;
  text-align: right;
}

.ballot {
  margin-bottom: 20px;

  .loader, .success {
    display: none;
    margin: 20px;
    text-align: center;
    p, h6 {
      margin-top: 15px;
    }
  }
}

.ballot-badges {
  .badge {
    margin-right: 5px;
  }
  float: right;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( 1.25 );
  }
  40%
  {
    transform: scale( 1 );
  }
  60%
  {
    transform: scale( 1.25 );
  }
  100%
  {
    transform: scale( 1 );
  }
}

.heartbeat-alive {
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count:  infinite;
}

.message {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  border-width: 1px;
  border-radius: 5px;
  border-color: grey;
  border-style: solid;
  text-align: center;
  img {
    width: 100px;
    max-width: 15vw;
    margin: 20px;
  }
  .i-main {
    margin: 20px;
  }
  .fa-ul {
    text-align: left;
  }
}