<div class="container">
  <div class="card message">
    <div class="card-header">
      <h5 class="card-title"><i class="i-main fa fa-unlock-alt"></i> Authentication failed.</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        There has been an issue connecting to the DemocrApp server.
      </p>
      <p class="card-text">
        Reason: <code>{{reason}}</code>
      </p>
    </div>
    <div class="card-footer text-muted small">
      Please try again or ask a meeting organiser for help.
    </div>
  </div>
</div>
