<h1>Great, let's get started.</h1>

<p>Please select your meeting and enter your unique voter token in the box below.</p>



<form id="authForm">
  <select id="authMeetings" class="form-control">
    {{#meetings}}
    <option value="{{id}}">{{name}}</option>
    {{/meetings}}
  </select>

  <input class="form-control" type="number" placeholder="token" id="authToken" />

  <button type="submit" class="btn btn-primary mx-auto btn-block">Submit</button>
</form>

<p class="small">If you have your paper token, you can just scan the QR code to be logged in automatically!</p>