<div class="container">
  <div class="message">
    <i class="i-main fa fa-unlock-alt fa-5x" />
    <h5>Authentication failed.</h5>
    <p>There has been an issue connecting to the DemocrApp server.</p>
    <p>Reason: <code>{{reason}}</code>
    <p class="small text-muted">
      Please try again or ask a meeting organiser for help.
    </p>
  </div>
</div>