<div id="{{id}}" class="message">
  <i class="i-main fa fa-exclamation-triangle fa-3x" />
  <h5>Your vote for the ballot was not accepted.</h5>
  <p>{{reason}}</p>
  <p><button type="button" onClick="dismissElement('{{id}}')" class="btn btn-outline-dark">Dismiss</button></p>
</div>