<div class="card message">
  <div class="card-header">
    <h5 class="card-title">
      <i class="i-main fa fa-exclamation-triangle"></i> Your vote for the ballot was not accepted.
    </h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{reason}}
    </p>
    <div class="active-body">
      <button type="button" onClick="dismissElement('{{id}}')" class="btn btn-outline-dark">Dismiss</button>
    </div>
  </div>
</div>