<div id="{{id}}" class="message">
  <i class="i-main fa fa-clock-o fa-3x" />
  <h5>The ballot titled "{{ballot_name}}" has now closed.</h5>
  <p>{{reason}}</p>
  <p><button type="button" onClick="dismissElement('{{id}}')" class="btn btn-outline-dark">Dismiss</button></p>
  <p class="small text-muted">
    No further votes can be submitted.
  </p>
</div>