<div class="container">
  <div class="card message">
    <div class="card-header">
      <h5 class="card-title">
        <i class="i-main fa fa-plug"></i> You've been disconnected.
      </h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        Your websocket to the DemocrApp server has failed. Please check your internet connection and then reconnect.
      </p>
      <p class="card-text">
        Disconnect reason: <code>Code: {{code}} {{reason}}</code>
      </p>
      <div class="active-body">
        <button type="button" onClick="init()" class="btn btn-outline-dark">Reload</button>
      </div>
    </div>
    <div class="card-footer text-muted small">
      If this is happening a lot, please try on another device, and let one of the event team know so that we can look into the issue.
    </div>
  </div>
</div>
