<div class="container">
  <div class="message">
    <i class="i-main fa fa-plug fa-5x" />
    <h5>You've been disconnected.</h5>
    <p>Your websocket to the DemocrApp server has failed. Please check your internet connection and then reconnect.</p>
    <p>Disconnect reason: <code>Code: {{code}} {{reason}}</code>
    <p><button type="button" onClick="init()" class="btn btn-outline-dark">Reload</button></p>
    <p class="small text-muted">
      If this is happening a lot, please try on another device, and let one of the event team know so that we can
      look into the issue.
    </p>
  </div>
</div>