<div id="{{id}}" class="message">
  <i class="i-main fa fa-bullhorn fa-3x" />
  <h5>Announcement</h5>
  <p>{{message}}</p>
  <p><button type="button" onClick="dismissElement('{{id}}')" class="btn btn-outline-dark">Dismiss</button></p>
  <p class="small text-muted">
    This message was sent by the event organisers.
  </p>
</div>