<div id="revotealert" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Heads up!</strong> We've already received a vote from you for at least one ballot that is still open. You can change your vote on these ballots by clicking the REVOTE button. 
  <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>