<div class="alert alert-warning alert-dismissable fade show">
  <strong>Heads up!</strong> We've already received at least one vote for the ballot titled "{{ballot_name}}" from this session. Any further votes will replace those previously submitted.
  <p class="small">We've pulled any currently open ballots back when the page reloaded in case something went wrong. Feel free to submit them again.</p>
  <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="alert" aria-label="Close">Dismiss</button>
</div>