<h1>{{meeting_name}}</h1>

<div id="alerts" class="container"></div>

<div id="stream" class="container">
  <div id="message-connected" class="message">
    <img src="/assets/img/ballot_paper.svg" />
    <h5>You're connected.</h5>
    <p>Ballot papers will appear here when the vote is opened.</p>
    <p class="small text-muted">
      You can leave this page and come back later - we've remembered your token. Otherwise, hang around and
      we'll push content to this page as you need it.
    </p>
  </div>
</div>