<form data-ballot="{{ballot_id}}" data-voter="{{voter_id}}" id="b-{{voter_id}}{{ballot_id}}">
  <div class="card ballot">
    <div class="card-header">
      <div class="ballot-badges">
        <span class="badge bg-secondary">STV</span>
        {{#proxy}}<span class="badge bg-info">PROXY</span>{{/proxy}}
        {{#already_voted}}<span class="badge bg-danger">REVOTE</span>{{/already_voted}}
      </div>
      <h5 class="card-title">{{title}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{desc}}
      </p>
    </div>
    <ul class="list-group list-group-flush">
    {{#options}}
      <li class="list-group-item">
        {{name}}
        <input name="{{id}}" class="ballot-preference-field" type="number" placeholder="0" />
      </li>
    {{/options}}
    </ul>
    <div class="loader" style="">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      <p>Submitting...</p>
    </div>
    <div class="success">
      <i class="fa fa-check fa-4x"></i>
      <h6>Great! Your vote has been received.</h6>
      <button class="btn btn-outline-dark" type="button" onClick="dismissElement('b-{{voter_id}}{{ballot_id}}')">Dismiss</button>
    </div>
    <div class="card-footer">
      <button type="button" onClick="submitSTVBallot('b-{{voter_id}}{{ballot_id}}')" class="btn btn-primary">Submit Vote</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
  </div>
</form>