<div class="container">
  <div class="card message">
    <div class="card-header">
      <h5 class="card-title">
        <i class="i-main fa fa-exclamation-circle"></i> This session has been terminated.
      </h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        The DemocrApp server has requested that your session is terminated.
      </p>
      <p class="card-text">
        Reason: <code>{{reason}}</code>
      </p>
      <div class="active-body">
        <button type="button" onClick="init()" class="btn btn-outline-dark">Reload</button>
      </div>
    </div>
    <div class="card-footer text-muted small">
      This is not a connection error.
    </div>
  </div>
</div>
