aioredis
asgiref
async-timeout
atomicwrites
attrs
autobahn
Automat
channels==4.0.0
channels-redis
constantly
daphne
Django==4.0.10
django-ratelimit
hiredis
hyperlink
idna
incremental
more-itertools
msgpack
mysqlclient
pluggy
py
PyHamcrest
pytest
pytest-asyncio
pytest-django
Twisted
txaio
uWSGI
